Repository openstack/mistral: changes, and which Zuul jobs are due for each by the changed paths.
All: mistral-tox-unit-mysql, mistral-tox-unit-postgresql, openstack-tox-cover

mistral-tox-unit-mysql:
  parent: openstack-tox
  vars:
    tox_envlist: unit-mysql
  timeout: 3600
  required-projects:
  - openstack/mistral-lib
  - openstack/mistral-extra

mistral-tox-unit-postgresql:
  parent: openstack-tox
  vars:
    tox_envlist: unit-postgresql
    tox_environment:
      CI_PROJECT: '{{ zuul[''project''][''name''] }}'
  timeout: 3600
  required-projects:
  - openstack/mistral-lib
  - openstack/mistral-extra

openstack-tox-cover:
  voting: false

Remove policy.json file
  etc/policy.json
Due: mistral-tox-unit-mysql, mistral-tox-unit-postgresql, openstack-tox-cover

Bump hacking
  mistral/engine/default_engine.py
  mistral/hacking/checks.py
  mistral/rpc/kombu/kombu_listener.py
  mistral/rpc/kombu/kombu_server.py
  mistral/services/action_heartbeat_checker.py
  mistral/services/maintenance.py
  mistral/tests/unit/api/v2/test_cron_triggers.py
  mistral/tests/unit/api/v2/test_executions.py
  mistral/tests/unit/api/v2/test_tasks.py
  mistral/tests/unit/api/v2/test_workbooks.py
  mistral/workflow/base.py
  requirements.txt
  test-requirements.txt
Due: mistral-tox-unit-mysql, mistral-tox-unit-postgresql, openstack-tox-cover

Update .gitreview for unmaintained/yoga
  .gitreview
Due: mistral-tox-unit-mysql, mistral-tox-unit-postgresql, openstack-tox-cover

reno: Update master for unmaintained/yoga
  releasenotes/source/yoga.rst
Due: none

Add back wsgi script generated by setuptools
  setup.cfg
Due: mistral-tox-unit-mysql, mistral-tox-unit-postgresql, openstack-tox-cover

Context versioning feature
  mistral/config.py
  mistral/tests/unit/engine/test_direct_workflow.py
  mistral/workflow/context_versioning.py
  mistral/workflow/data_flow.py
  mistral/workflow/direct_workflow.py
Due: mistral-tox-unit-mysql, mistral-tox-unit-postgresql, openstack-tox-cover

Remove hacking rules to enforce six usage
  HACKING.rst
  mistral/hacking/checks.py
  mistral/tests/unit/hacking/test_checks.py
  mistral/workflow/data_flow.py
  tox.ini
Due: mistral-tox-unit-mysql, mistral-tox-unit-postgresql, openstack-tox-cover

Update .gitreview for stable/2024.1
  .gitreview
Due: mistral-tox-unit-mysql, mistral-tox-unit-postgresql, openstack-tox-cover

Update TOX_CONSTRAINTS_FILE for stable/2024.1
  tox.ini
Due: mistral-tox-unit-mysql, mistral-tox-unit-postgresql, openstack-tox-cover

Update master for stable/2024.1
  releasenotes/source/2024.1.rst
  releasenotes/source/index.rst
Due: none

Python 3.12: cast random delays as int
  mistral/services/legacy_scheduler.py
Due: mistral-tox-unit-mysql, mistral-tox-unit-postgresql, openstack-tox-cover

reno: Update master for unmaintained/victoria
  releasenotes/source/victoria.rst
Due: none

reno: Update master for unmaintained/wallaby
  releasenotes/source/wallaby.rst
Due: none

reno: Update master for unmaintained/xena
  releasenotes/source/xena.rst
Due: none

Fix maintence mode
  mistral/api/app.py
  mistral/api/controllers/maintenance.py
  mistral/api/controllers/v2/action.py
  mistral/api/controllers/v2/workbook.py
  mistral/api/controllers/v2/workflow.py
  mistral/api/hooks/maintenance.py
  mistral/db/sqlalchemy/migration/alembic_migrations/versions/044_recreate_mistral_metrics_table.py
  mistral/db/v2/sqlalchemy/api.py
  mistral/db/v2/sqlalchemy/models.py
  mistral/services/maintenance.py
Due: mistral-tox-unit-mysql, mistral-tox-unit-postgresql, openstack-tox-cover

reno: Update master for unmaintained/zed
  releasenotes/source/zed.rst
Due: none

Fix compatibility with sqlalchemy 2.0
  mistral/db/sqlalchemy/migration/alembic_migrations/versions/020_add_type_to_task_execution.py
  mistral/db/sqlalchemy/migration/alembic_migrations/versions/022_namespace_support.py
  mistral/db/sqlalchemy/migration/alembic_migrations/versions/029_workbook_empty_namespace.py
  mistral/db/sqlalchemy/migration/alembic_migrations/versions/037_add_namespace_column_to_action_definitions.py
  mistral/db/sqlalchemy/migration/alembic_migrations/versions/038_delete_delayed_calls_with_empty_key.py
  mistral/db/sqlalchemy/migration/alembic_migrations/versions/042_create_maintenance_table.py
Due: mistral-tox-unit-mysql, mistral-tox-unit-postgresql, openstack-tox-cover

Replace deprecated assertDictContainsSubset
  mistral/tests/unit/engine/test_direct_workflow.py
Due: mistral-tox-unit-mysql, mistral-tox-unit-postgresql, openstack-tox-cover

Fix some race conditions in mistral CI
  mistral/tests/unit/engine/test_policies.py
  mistral/tests/unit/engine/test_subworkflows_pause_resume.py
  tox.ini
Due: mistral-tox-unit-mysql, mistral-tox-unit-postgresql, openstack-tox-cover

Replace deprecated LegacyEngineFacade
  mistral/db/sqlalchemy/base.py
Due: mistral-tox-unit-mysql, mistral-tox-unit-postgresql, openstack-tox-cover

Update .gitreview for stable/2024.2
  .gitreview
Due: mistral-tox-unit-mysql, mistral-tox-unit-postgresql, openstack-tox-cover

Update TOX_CONSTRAINTS_FILE for stable/2024.2
  tox.ini
Due: mistral-tox-unit-mysql, mistral-tox-unit-postgresql, openstack-tox-cover

Update master for stable/2024.2
  releasenotes/source/2024.2.rst
  releasenotes/source/index.rst
Due: none

Move release note file to correct place
  releasenotes/notes/return-errors-for-std-mistral-http-b852b6d8f0034477.yaml
Due: none

Fix py312 random int range
  mistral/scheduler/default_scheduler.py
Due: mistral-tox-unit-mysql, mistral-tox-unit-postgresql, openstack-tox-cover

Replace deprecated datetime.utcnow()
  mistral/services/expiration_policy.py
  mistral/services/periodic.py
  mistral/services/triggers.py
  mistral/tests/unit/api/test_auth.py
  mistral/tests/unit/api/v2/test_environment.py
  mistral/tests/unit/engine/test_cron_trigger.py
  mistral/tests/unit/engine/test_default_engine.py
  mistral/tests/unit/engine/test_task_defaults.py
  mistral/tests/unit/scheduler/test_default_scheduler.py
  mistral/tests/unit/services/test_expiration_policy.py
  mistral/tests/unit/services/test_legacy_scheduler.py
  mistral/tests/unit/services/test_trigger_service.py
  mistral/utils/profiler.py
  requirements.txt
Due: mistral-tox-unit-mysql, mistral-tox-unit-postgresql, openstack-tox-cover

Remove rally test job
  .zuul.yaml
Due: mistral-tox-unit-mysql, mistral-tox-unit-postgresql

Disable mysql and postgresql unit tests
  .zuul.yaml
Due: mistral-tox-unit-mysql, mistral-tox-unit-postgresql

Stop printing when services starts
  mistral/service/base.py
Due: mistral-tox-unit-mysql, mistral-tox-unit-postgresql, openstack-tox-cover

Fix some more race conditions
  mistral/tests/unit/engine/test_adhoc_actions.py
  mistral/tests/unit/engine/test_error_result.py
  mistral/tests/unit/engine/test_subworkflows_pause_resume.py
Due: mistral-tox-unit-mysql, mistral-tox-unit-postgresql, openstack-tox-cover

Add fast8 tox env
  tools/flake8wrap.sh
  tox.ini
Due: mistral-tox-unit-mysql, mistral-tox-unit-postgresql, openstack-tox-cover

Rework tox unit tests config
  .gitignore
  tools/prepare_db.sh
  tox.ini
Due: mistral-tox-unit-mysql, mistral-tox-unit-postgresql, openstack-tox-cover

Stop printing useless tests results
  mistral/tests/unit/actions/test_action_service.py
Due: mistral-tox-unit-mysql, mistral-tox-unit-postgresql, openstack-tox-cover

Force mistral tests to log in mistral.log
  mistral/tests/unit/base.py
Due: mistral-tox-unit-mysql, mistral-tox-unit-postgresql, openstack-tox-cover

Remove remaining reference to oslosphinx
  api-ref/source/conf.py
  doc/source/conf.py
Due: mistral-tox-unit-mysql, mistral-tox-unit-postgresql, openstack-tox-cover

Remove workaround for eventlet < 0.27.0
  mistral/cmd/launch.py
  requirements.txt
Due: mistral-tox-unit-mysql, mistral-tox-unit-postgresql, openstack-tox-cover

Make mistral reproducible
  mistral/config.py
Due: mistral-tox-unit-mysql, mistral-tox-unit-postgresql, openstack-tox-cover

Update faq.rst
  doc/source/user/faq.rst
Due: none

Fix missing extra line in doc
  doc/source/admin/configuration/config-guide.rst
Due: none

Update gate jobs as per the 2025.1 cycle testing runtime
  .zuul.yaml
Due: mistral-tox-unit-mysql, mistral-tox-unit-postgresql

Path conditions:
  mistral-tox-unit-mysql: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  mistral-tox-unit-postgresql: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-tox-cover: unless all of: ^.zuul.yaml$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
